.home {
  height: 100vh;

  .home_wrapper {
    display: flex;
    height: 100%;
  }

  .home_content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .home_hero_content {
      padding: 0 30px 30px;
      flex: 1;
      height: 100%;
      overflow-y: auto;

      .hero_grid {
        height: 100%;
        display: grid;
        grid-template-columns: auto 320px;
        gap: 20px;

        .grid_child_1 {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;
          height: fit-content;

          .grid_subchild_1 {
            display: grid;
            grid-template-columns: 270px auto;
            gap: 20px;

            .flex_between {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            .grid_subchild_child_1 {
              display: flex;
              flex-direction: column;
              gap: 20px;

              .wallet {
                height: 100px;
                display: flex;
                gap: 20px;
                transition: all 200ms linear;

                &_card {
                  background: #1c2241;
                  border-radius: 2px;
                  flex: 1 0 auto;
                  transition: all 200ms linear;

                  // &:hover {
                  //   width: 33.3%;
                  // }
                }
              }

              .stats {
                flex: 1;
                display: flex;
                gap: 20px;
              }
            }
          }

          // .grid_subchild_2 {
          // }
        }
      }
    }
  }
}

.modal-content {
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;

  background-color: #121c39;

  .add-token-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      background-color: #1c2241;
      padding: 8px;
      outline: none;
      border: none;
      color: #fff;
    }

    button {
      border-radius: 15px;
      border: 2px solid #8c68cd;
      padding: 5px 10px 5px 10px;
      background: none;
      color: white;
      cursor: pointer;
    }
  }

  .token-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #1c2241;
      padding: 8px;

      p {
        color: #fff;

        span {
          color: #a796c6;
        }
      }
    }
  }

  .close-btn {
    margin-top: 50px;
    color: #a796c6;
    text-align: center;

    span {
      cursor: pointer;
    }
  }

  .transaction-popup {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    p {
      text-transform: capitalize;
    }

    > span {
      background-color: #1c2241;
      border-radius: 50%;
      font-size: 28px;
      width: 36px;
      height: 36px;
      text-align: center;
    }
  }
}
