.wallet-wrapper {
  flex: 0 0 270px;
  width: 270px;
  background: #121c39;
  border-radius: 2px;

  .percent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    .flex-tool {
      display: flex;
      justify-content: space-around;
      align-items: center;

      h1 {
        font-size: 20px;
        font-weight: 400;
        color: white;
      }
      p {
        color: #606166;
        font-size: 12px;
      }
    }
  }
}
